
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2><ul>
    <li><a href="/products/details"> Laptops </a></li>
    <li><a href="/products/details"> Desktop </a></li>
    <li><a href="/products/details"> Tablet </a></li>
</ul>

